<h1>Prihl치senie</h1>
<%= form_tag session_path do %>
	<div class="field">
	  <%= label_tag :email %>
	  <%= text_field_tag :email %>
	</div>
	<div class="field">
	  <%= label_tag 'Heslo' %>
	  <%= password_field_tag :password %>
	</div>
	<div class="actions">
	  <%= submit_tag 'Prihl치si콘 sa' %>
	  <%= link_to 'N치vrat', root_path , :class => 'cancel' %>
	</div>
	<br/>
<% end %>
