<h1>Editácia používateľa a nastavenia</h1>
<%= render 'form_user_edit' %><br /><br />
<h2>Obľúbené jedlá</h2>
<table class="favourite">
  <% i = 1 %>
  <% current_user.soups.each do |soup| %>
      <tr>
        <td class="action">
          <%= link_to image_tag("remove.png"), {:controller => "lunch", :action => "delete_soup", :name => soup}, :title => "Odobrať od obľúbených jedál" %>
        </td>
        <td class="numbering"><%= i %>.</td>
        <td class="name"><%= link_to "#{soup.name}", soup %></td>
      </tr>
      <% i +=1 %>
  <% end %>
  <% current_user.foods.each do |food| %>
      <tr>
        <td class="action">
          <%= link_to image_tag("remove.png"), {:controller => "lunch", :action => "delete_food", :name => food}, :title => "Odobrať od obľúbených jedál" %>
        </td>
        <td class="numbering"><%= i %>.</td>
        <td class="name"><%= link_to "#{food.name}", food %></td>
      </tr>
      <% i +=1 %>
  <% end %>
</table>
<br/>
<%= link_to 'Návrat', :back , :class => 'cancel' %>
<br/>