<div class="lunches">
  <% @restaurants.each do |restaurant| %>
      <% i = 1 %>
      <table class="lunch_table" border="1" width="85%">
        <tr>
          <th colspan="2">
            <%= restaurant.name %>, <%= restaurant.address %>
          </th>
        </tr>
        <% restaurant.today_soups.each do |soup| %>
            <% if i % 2 == 0  %>
                <tr>
            <% else %>
                <tr class="alt">
            <% end %>
              <td width="10"><%= i %>. </td>
              <td><%= soup.name %></td>
            </tr>
            <% i = i + 1 %>
        <% end %>
        <% restaurant.today_foods.each do |food| %>
            <% if i % 2 == 0  %>
                <tr>
            <% else %>
                <tr class="alt">
            <% end %>
              <td width="10"><%= i %>. </td>
              <td><%= food.name %></td>
            </tr>
            <% i = i + 1 %>
        <% end %>
      </table>
      <br />
  <% end %>
</div>
