<div class="lunches">
  <% @restaurants.each do |restaurant| %>
      <% i = 1 %>
      <table class="lunch_table">
        <tr>
          <th colspan="3">
            <%= restaurant.name %>, <%= restaurant.address %>
          </th>
        </tr>
        <% if restaurant.today_foods.empty? && restaurant.today_soups.empty? %>
            <tr>
              <td>Dnes sa nenapapkáš.</td>
            </tr>
        <% else %>
            <% restaurant.today_soups.each do |soup| %>
                <% if i.even? %>
                    <tr>
                <% else %>
                    <tr class="alt">
                <% end %>
                <td class="bookmark">
                  <% if logged_in? && current_user.likes_soup?(soup) %>
                      <%= link_to image_tag("star.png", :style => "position: absolute; left: 0, top:0, z-index: 10;") +
                                          image_tag("star_bw.png", :style => "position: absolute,left: 0, top:0;"),
                                  {:controller => "lunch", :action => "delete_soup", :name => soup}, :title => "Odobrať od obľúbených jedál" %>
                  <% else %>
                      <%= link_to image_tag("star_bw.png", :style => "position: absolute; left: 0, top:0, z-index: 10;") +
                                          image_tag("star.png", :style => "position: absolute,left: 0, top:0;"),
                                  {:controller => "lunch", :action => "add_soup", :name => soup}, :title => "Pridať k obľúbeným jedlám" %>
                  <% end %>
                </td>
                <td class="numbering"><%= i %>.</td>
                <td><%= link_to "#{soup.name}", soup %></td>
                </tr>
                <% i +=1 %>
            <% end %>
            <% restaurant.today_foods.each do |food| %>
                <% if i.even? %>
                    <tr>
                <% else %>
                    <tr class="alt">
                <% end %>
                <td class="bookmark">
                  <% if logged_in? && current_user.likes_food?(food) %>
                      <%= link_to image_tag("star.png", :style => "position: absolute; left: 0, top:0, z-index: 10;") +
                                          image_tag("star_bw.png", :style => "position: absolute,left: 0, top:0;"),
                                  {:controller => "lunch", :action => "delete_food", :name => food}, :title => "Odobrať od obľúbených jedál" %>
                  <% else %>
                      <%= link_to image_tag("star_bw.png", :style => "position: absolute; left: 0, top:0, z-index: 10;") +
                                          image_tag("star.png", :style => "position: absolute,left: 0, top:0;"),
                                  {:controller => "lunch", :action => "add_food", :name => food}, :title => "Pridať k obľúbeným jedlám" %>
                  <% end %>
                </td>
                <td class="numbering"><%= i %>.</td>
                <td><%= link_to "#{food.name}", food %></td>
                </tr>
                <% i += 1 %>
            <% end %>
        <% end %>
      </table>
      <br/>
  <% end %>
</div>

<script>
    $(function()
    {
        $('img').hover(function()
            {
                $(this).stop().animate({"opacity": "0"}, 600);
            },
            function()
            {
                $(this).stop().animate({"opacity": "1"}, 600);
            });
    });
</script>
