<div class="lunches">
  <% @restaurants.each do |restaurant| %>
      <% i = 1 %>
      <table class="lunch_table" align="center">
        <tr>
          <th colspan="2">
            <%= restaurant.name %>, <%= restaurant.address %>
          </th>
        </tr>
        <% if restaurant.today_foods.empty? && restaurant.today_soups.empty? %>
            <tr>
              <td colspan="2">Dnes sa nenapapkáš.</td>
            </tr>
        <% else %>
            <% restaurant.today_soups.each do |soup| %>
                <% if i.even? %>
                    <tr>
                <% else %>
                    <tr class="alt">
                <% end %>
                <td width="10"><%= i %>.</td>
                <td><%= link_to "#{soup.name}", soup %></td>
                </tr>
                <% i +=1 %>
            <% end %>
            <% restaurant.today_foods.each do |food| %>
                <% if i.even? %>
                    <tr>
                <% else %>
                    <tr class="alt">
                <% end %>
                <td width="10"><%= i %>.</td>
                <td><%= link_to "#{food.name}", food %></td>
                </tr>
                <% i += 1 %>
            <% end %>
        <% end %>
      </table>
      <br/>
  <% end %>
</div>
