<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta property="og:locale" content="sk_SK" />
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="lunches.guitarman.sk"/>
  <meta property="og:description" content="guitarman: lunches"/>
  <meta name="author" content="all: guitarman" />
  <title>Lunches</title>
  <%= stylesheet_link_tag "lunch", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container" class="container">
      <div id="header" class="header">
        <div id="h_content" class="h_content">
		  <span class="caption">
          	<%= link_to "obedy [beta]", root_path %>
		  </span>
		  <span class="user_nav">
			<% if logged_in? %>
				<!--<%= link_to current_user.email, settings_path %>-->
				<%= current_user.email %> | <%= link_to "Odhlásiť", logout_path %>
			<% else %>
				<%= link_to "Prihlásiť", login_path %> | <%= link_to "Registrovať", new_user_path %>
			<% end %>
		  </span>
        </div>
      </div>

      <div id="content_container" class="content_container">
        <div id="content" class="content">

		  <%= content_tag :p, notice, :class => 'notice' if notice.present? %>
		  <%= content_tag :p, alert, :class => 'alert' if alert.present? %>

          <%= yield %>
          <br/>
        </div>
		<div id="footer" class="footer">
          <a href="http://guitarman.sk" target="_blank">guitarman.sk</a>  2012 | Subpages: <a href="http://lunch.guitarman.sk" target="_blank">lunch.guitarman.sk</a>
		</div>
      </div>
      <br />
    </div>
</body>
</html>